div {
  font-size: 10px;
  color: black;
  padding: 20px 70% 60px 100%;
}
.box{
  margin-top: 10px;
    margin-right: 15px;
    margin-bottom: 20px;
    margin-left: 15px;
    border-style: dotted;
    border-color: purple;
    border-width: 2px;
padding: 160px 20% 10px 15%
}

p{
  font-size: 10px;
  color: green;
  padding: 10px 20% 10px 45%
}

h1{
color: orange;
}


p2{
  font-size: 7px;
color: purple;
padding: 20px 10% 20px 90%;
}
span{
  color: yellow;
}
